/* 
    Created on : 09-Feb-2017, 15:49:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        

body {
    #contact-info {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        
        ul {
            margin: 80px 0 30px 0;

            li {
                width: 100%;
                display: inline-block;
                font-size: 16px;
                letter-spacing: -0.75px;
                text-align: center;
                margin-bottom: 50px;
                
                @media @700 { // change to @500 if 4 icons
                    width: 33%; // change to 50% if 4 icons
                    margin-bottom: 0; // delete if 4 icons
                }
                
                /* uncomment if 4 icons
                @media @800 {
                    width: 25%;
                    margin-bottom: 0;
                }
                */
                
                a {
                    border-bottom: 1px solid @blue;
                }
                
                .icon {
                    background-repeat: no-repeat;
                    background-position: center top;
                    height: 100px;
                    display: block;
                    margin-bottom: 20px;
                }

                &.phone {
                    .icon {
                        background-image: url(../images/contact/phone.png);
                    }
                
                    .detail {
                        text-decoration: none;
                    }
                }
                &.email {
                    .icon {
                        background-image: url(../images/contact/email.png);
                    }
                }
                &.fb {
                    .icon {
                        background-image: url(../images/contact/facebook.png);
                    }
                }
                &.tw {
                    .icon {
                        background-image: url(../images/contact/twitter.png);
                    }
                }

                .title {
                    font-size: 18px;
                    text-transform: uppercase;
                    display: block;
                    margin-bottom: 15px;
                    letter-spacing: 0.5px;
                    color: @blue;
                }
                
                .detail {
                    color: @grey;
                }
                
                &:hover {
                    cursor: pointer;
                
                    .icon {
                        background-position: center bottom;
                    }
                    
                    a {
                        text-decoration: none;
                    }
                    
                    .detail {
                        color: @blue;
                        .transition();
                    }
                }
            }
        }
    }
    
    #economic-growth-team {
        background-color: @very-very-light-grey;
        overflow: auto;
        
        .profile {
            position: relative;
            margin-bottom: 20px;
            max-height: 400px;
            overflow: hidden;
            
            @media @400 {
                width: 48%;
            }
            
            @media @600 {
                width: 30%;
            }
            
            @media @900 {
                width: 21%;
            }
            
            .bg {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                .rounded-corners(10px);
                
                &.one {
                    background-color: @grey;
                }
                
                &.two {
                    background-color: @blue;
                }
            }
                
            .information {
                position: absolute;
                top: 0;
                left: 0;
                padding: 80px 10px;
                color: white;
                text-align: center;
                font-size: 14px;
                font-weight: @extra-light;
                opacity: 0;
                line-height: 1.3;
                width: 100%;
                box-sizing: border-box;
                
                @media @300 {
                    font-size: 15px;
                }
            
                @media @400 {
                    padding: 50px 10px;
                    font-size: 12px;
                }
            
                @media @500 {
                    padding: 80px 10px;
                    font-size: 13px;
                }
            
                @media @600 {
                    padding: 40px 10px;
                    font-size: 12px;
                }
            
                @media @700 {
                    padding: 50px 10px;
                    font-size: 13px;
                }
            
                @media @800 {
                    padding: 80px 10px;
                    font-size: 14px;
                }
            
                @media @900 {
                    padding: 40px 10px;
                    font-size: 12px;
                }
            
                @media @1000 {
                    padding: 50px 10px;
                    font-size: 13px;
                }
            
                @media @1100 {
                    padding: 60px 10px;
                }
            
                @media @1200 {
                    padding: 75px 10px;
                    font-size: 14px;
                }
            
                @media @1300 {
                    padding: 80px 20px;
                    font-size: 15px;
                }
                
                span {
                    display: block;
                    margin-bottom: 5px;
                    letter-spacing: -0.5px;
                    
                    &.name {
                        text-transform: uppercase;
                        display: inline-block;
                        padding-bottom: 40px;
                        margin-bottom: 40px;
                        border-bottom: 2px solid white;
                        letter-spacing: 0.5px;
                        font-weight: @regular;
                        width: 80px;
                    }
                    
                    &.title {
                        text-transform: uppercase;
                    }
                }
                
                a {
                    color: white;
                }
            }

            img {
                width: 100%;
                .rounded-corners(10px);
            }
            
            &:hover {
                .bg {
                    opacity: 0.8;
                    .transition();
                }
                
                .information {
                    opacity: 1;
                    .transition();
                }
            }
        }
    }
    
    #our-location {
        overflow: auto;
        
        #location-map {
            width: 100%;
            height: 500px;
            
            &.leaflet-container {
                font-family: 'Open Sans', sans-serif ;
            }
            
            .leaflet-bar {
                box-shadow: none;
                border: 1px solid @light-grey;
                
                a {
                    color: @blue;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    
                    &.leaflet-disabled {
                        color: @light-grey;
                        background-color: @very-very-light-grey;
                    }
                }
            }
            
            .leaflet-popup {
                margin-bottom: 20px;
                
                @media @500 {
                    left: 0 !important;
                }
                
                .leaflet-popup-close-button {
                    font-weight: normal;
                }
                
                .leaflet-popup-content-wrapper {
                    box-shadow: none;
                    border: 1px solid @light-grey;
                    .rounded-corners(4px);
                    
                    .leaflet-popup-content {
                        width: 175px;
                        
                        h3 {
                            color: @blue;
                            margin: 10px 0;
                        }
                    }
                }

                .leaflet-popup-tip-container {
                    display: none;
                }
            }
        }
        
        #location-details {
            background-color: @very-very-light-grey;
            padding: 0 40px 40px;
            box-sizing: border-box;
            overflow: auto;
            
            ul {
                li {
                    margin: 5px 20px 5px 0;
                }
            }
            
            #address {
                @media @800 {
                    float: left;
                }

                @media @1000 {
                    width: 35%;
                }
            }

            #directions {
                @media @800 {
                    float: right;
                }

                @media @1000 {
                    width: 65%;
                }

                ul {
                    &.list-points {
                        li {
                            list-style: none;

                            &:before {
                                content: '';
                                display: inline-block;
                                height: 17px;
                                width: 17px;
                                background-image: url('http://maps.northlincs.gov.uk/public/civic/leaflet/images/marker-icon.png');
                                background-size: auto 15px;
                                background-repeat: no-repeat;
                                background-position: left 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}
