/* 
    Created on : 09-Feb-2017, 15:49:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        

body {
    .event {
        overflow: auto;
        
        &.sponsored {
            border-bottom: 4px solid @blue;
            padding-top: 0;
            background-color: white;
            
            .sponsored-title {
                background-color: @blue;
                padding: 8px 0;
                color: white;
                font-size: 13px;
                font-weight: @bold;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
        }
        
        .event-logo {
            float: none;
            margin: 0 auto 40px auto;
            display: block;
            
            @media @700 {
                float: right;
            }
        }
        
        h3 {
            margin: 0 10px 20px 0;
            display: inline-block;
        }
        
        .organiser {
            background-color: @dark-grey;
            color: white;
            padding: 6px 8px;
            margin-bottom: 8px;
            display: inline-block;
        }
        
        .event-details {
            background-image: url('http://maps.northlincs.gov.uk/public/civic/leaflet/images/marker-icon.png');
            background-size: auto 15px;
            background-repeat: no-repeat;
            background-position: left 2px;
            padding-left: 17px;
            color: @blue;
            font-size: 17px;
            letter-spacing: -0.5px;
            margin-bottom: 40px;
            display: block;
            
            @media @500 {
                background-size: auto 20px;
                font-size: 22px;
                letter-spacing: -1px;
            }
        }
        
        .date {
            background-image: url('../images/calendar.png');
            background-repeat: no-repeat;
            height: 180px;
            width: 170px;
            margin: 0 auto 20px auto;
            text-align: center;
            font-size: 35px;
            text-transform: uppercase;
            padding-top: 54px;
            box-sizing: border-box;
            color: @medium-grey;
            letter-spacing: -2px;
            font-weight: @extra-light;
            
            strong {
                font-size: 65px;
                letter-spacing: -3px;
            }
            
            @media @500 {
                float: left;
                margin: 0 25px 0 0;
            }
        }
        
        .button {
            float: left;
            margin-top: 10px;
            margin-right: 10px;
        }
        
        .row {
            overflow: auto;
            padding: 0;
            
            @media @700 {
                padding: 20px;
            }
            
            &:first-child {
                margin-top: 40px;
            }
            
            .event-child {
                padding: 40px 20px 20px;
                box-sizing: border-box;
                overflow: auto;
                
                @media @700 {
                    padding: 40px 40px 0;
                    width: 50%;
                    float: left;
                }

                h3 {
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                .event-details {
                    font-size: 16px;
                    background-size: auto 13px;
                    margin-bottom: 20px;

                    @media @500 {
                        font-size: 19px;
                        background-size: auto 18px;
                    }
                }

                .date {
                    strong {
                        font-size: 48px;
                        letter-spacing: -2px;
                    }

                    padding-top: 32px;
                    height: 116px;
                    width: 110px;
                    background-size: 110px 116px;
                    font-size: 30px;
                }

                p {
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                .button {
                    padding: 10px;
                    font-size: 14px;
                    margin: 10px 0 0 0;

                    @media @800 {
                        padding: 14px 14px;
                        font-size: 14px;
                        width: auto;
                    }

                    @media @1200 {
                        padding: 14px 14px;
                        font-size: 14px;
                        width: auto;
                    }
                }
            }
        }  
    }
}
