/* 
    Created on : 09-Feb-2017, 15:49:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        

body {
    #home-header {     
        position: relative;
        
        &.row {
            padding: 15px 0 0 0;
            
            @media @600 {
                padding: 30px 0 0 0;
            }
        }
        
        .content {
            background-color: rgba(255, 255, 255, 0.6);;
            padding: 20px;
            margin: 10px;
            position: absolute;
            bottom: 0;
            .rounded-corners(8px);
            
            @media @500 {
                padding: 40px;
                margin: 40px;
            }
            
            .slogan {
                font-weight: @extra-light;
                color: @dark-grey;
                font-size: 28px;
                letter-spacing: -1px;
                line-height: 1;
                text-align: left;
                display: block;
                margin-bottom: 20px;

                span {
                    font-weight: @bold;
                }

                @media @500 {
                    font-size: 36px;
                    margin-bottom: 50px;
                    color: @dark-grey;

                    span {
                        font-size: 28px;
                    }
                }

                @media @600 {
                    font-size: 50px;

                    span {
                        font-size: 39px;
                    }
                }

                @media @800 {
                    font-size: 60px;
                    letter-spacing: -3px;

                    span {
                        font-size: 47px;
                    }
                }

                @media @1000 {
                    font-size: 70px;
                    letter-spacing: -4px;

                    span {
                        font-size: 55px;
                    }
                }
            }

            .button {
                border-color: @dark-grey;
                color: @dark-grey;
                margin-top: 20px;
                
                @media @500 {
                    width: 100%;
                }
                
                
                /*
                margin-top: 160px;

                @media @500 {
                    margin-top: 250px;
                }

                @media @600 {
                    margin-top: 340px;
                }

                @media @800 {
                    margin-top: 420px;
                }

                @media @1000 {
                    margin-top: 470px;
                }
                */

                &:hover {
                    background-color: @dark-grey;
                    color: white;
                }
            }
        }
    }
    
    #events, #maps, #contact {        
        h2 {
            background-repeat: no-repeat;
            background-position: left 0;
            padding-left: 55px;
            line-height: 48px;
        }
        
        p {
            line-height: 24px;
            margin-bottom: 20px;
            
            @media @800 {
                font-size: 17px;
            }
        }
        
        .button {
            margin-top: 20px;
        }
    }
    
    #events {
        background-color: @very-light-grey;
        overflow: auto;
        
        #events-information {
            h2 {
                background-image: url(../images/heading-icon-events.png);
            }
            
            @media @800 {
                float: left;
                width: 400px;
            }
            
            @media @900 {
                width: 450px;
            }
            
            @media @1000 {
                width: 550px;
            }
            
            @media @1100 {
                width: 650px;
            }
            
            @media @1200 {
                width: 750px;
            }
            
            .button {
                float: left;
            }
        }
        
        #upcoming-events {
            float: right;
            width: 350px;
            display: none;
            text-transform: uppercase;
            font-weight: @light;
            letter-spacing: -1px;
            
            @media @800 {
                display: block;
            }
            
            .event-date {
                float: left;
                font-size: 19px;
                text-align: center;
                color: @blue;
                border-right: 2px solid @grey;
                padding-right: 10px;
                
                strong {
                    font-size: 26px;
                }
            }
            
            .event-name, .event-venue {
                float: right;
                font-size: 17px;
                width: 235px;
                color: @grey;
                background-repeat: no-repeat;
                background-position: 0 center;
                padding-left: 16px;
            }
            
            .event-name {
                margin-bottom: 6px;
                background-image: url(../images/event-name.png);
            }
            
            .event-venue {
                background-image: url(../images/event-location.png);
            }
            
            .row-0, .row-1 {
                padding: 15px 20px;
                overflow: auto;
            }
            
            .row-0 {
                background-color: @very-very-light-grey;
            }
            
            .row-1 {
                background-color: @light-grey;
            }
        }
    }
    
    #maps {
        background: url(../images/maps-background1.png);
        background-repeat: no-repeat;
        background-size: auto 700px;
        background-position: -550px -150px;
        background-color: @very-very-light-grey;
        text-align: right;
        box-sizing: border-box;
        overflow: auto;
        
        @media @800 {
            background-position: -400px -180px;
        }
        
        @media @900 {
            background-position: -350px -180px;
        }
        
        @media @1000 {
            background-position: -250px -180px;
        }
        
        @media @1100 {
            background-position: -150px -180px;
        }
        
        @media @1200 {
            background-size: 110% auto;
            background-position: -100px 45%;
        }
        
        h2 {
            float: right;
            color: @very-dark-grey;
            background-image: url(../images/heading-icon-maps.png);
        }
        
        p {
            float: right;
            clear: both;
            
            @media @800 {
                width: 700px;
            }
        }
        
        .button {
            clear: both;
            border-color: @very-dark-grey;
            color: @very-dark-grey;
            float: right;
            
            &:hover {
                background-color: @very-dark-grey;
                color: white;
            }
        }
    }
    
    #contact {
        background-color: @very-light-grey;
        overflow: auto;
        
        #contact-information {
            @media @800 {
                float: left;
                width: 400px;
            }
            
            @media @900 {
                width: 450px;
            }
            
            @media @1000 {
                width: 550px;
            }
            
            @media @1100 {
                width: 650px;
            }
            
            @media @1200 {
                width: 750px;
            }
            
            h2 {
                background-image: url(../images/heading-icon-contact.png);
            } 
        }
        
        #contact-button {
            @media @800 {
                background-image: url(../images/contact-background.png);
                background-repeat: no-repeat;
                background-position: right top;
                width: 350px;
                height: 197px;
                float: right;
                position: relative;
            }
            @media @1200 {
                background-position: center top;
                width: 400px;
                height: 205px;
            }
            
            .button {
                @media @800 {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}
