/* 
    Created on : 11-Apr-2017, 10:14:48
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        

body {
    #map-container {
        background-color: @very-very-light-grey;
        padding: 40px 0;
        
        #map {
            height: 600px;
        }
    }
}
