/* 
    Created on : 09-Feb-2017, 15:49:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
        
    /*** CONTENT CLASSES ***/
    
    h1 {
        margin: 10px 0 40px 0;
        text-align: center;
        font-size: 45px;
        font-weight: @extra-light;
        color: @medium-grey;
        letter-spacing: -3px;
        
        @media @600 {
            font-size: 55px;
            letter-spacing: -5px;
        }
    }
    
    h2 {
        font-size: 30px;
        color: @blue;
        margin: 10px 0 20px 0;
        letter-spacing: -2px;
        font-weight: @extra-light;
    }
    
    h3 {
        font-size: 20px;
        color: @grey;     
        margin: 45px 0 15px 0;  
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: @extra-light;
    }
    
    h4 {
        font-size: 12px;
        color: @very-dark-grey;
        margin: 0 0 10px 0;
        font-weight: @bold;
    }
    
    p, ul.list-none li, ul.list-points li {
        font-size: 16px;
        color: @grey;
        line-height: 1.4;
        letter-spacing: -0.75px;
    }
    
    p {
        margin: 0 0 20px 0;
        
        &.intro {
            font-size: 17px;
            text-align: center;
            font-weight: @extra-light;
            width: 100%;
            margin: 0 auto 20px auto;

            @media @500 {
                font-size: 19px;
            }

            @media @900 {
                width: 700px;
            }
        }
        
        /* Success/Error Messages */
        &.error, &.success {
            padding: 15px 60px;
            background-repeat: no-repeat;
            background-position: 10px 15px;
            margin-bottom: 20px;
        }

        &.error {
            color: @dark-red;
            background-color: @light-red;
            background-image: url(../images/error.png);
        }

        &.success {
            color: @dark-green;
            background-color: @light-green;
            background-image: url(../images/success.png);
        }
        
        a {
            &:link, &:visited {
                border-bottom: 1px solid @blue;
                color: inherit;
            }

            &:hover {
                color: @blue;
                .transition();
            }
        }
    }
    
    ul.list-points, ul.list-none {
        margin: 10px 0;
    
        li {
            margin: 15px 0;
        
            a {
                &:link, &:visited {
                    border-bottom: 1px solid @blue;
                    color: inherit;
                }

                &:hover {
                    color: @blue;
                    .transition();
                }
            }
        }
    }
    
    ul.list-points {
        li {
            list-style-type: disc;
            margin: 15px 20px;
        }
    }
    
    a {
        &:link, &:visited {
            text-decoration: none;
        }
        
        &.button {
            display: block;
            padding: 12px;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: -0.75px;
            text-decoration: none;
            margin: 20px 0 0 0;
            color: @blue;
            text-align: center;
            border: solid 1px @blue;
            .rounded-corners();
            width: 100%;
            box-sizing: border-box;
            line-height: 1.2;
            
            @media @800 {
                padding: 15px 20px;
                font-size: 16px;
                width: 300px;
            }
            
            @media @1200 {
                padding: 18px 20px;
                font-size: 18px;
                width: 400px;
            }
               
            strong {
                font-weight: @extra-bold;
            }
            
            &:hover {
                text-decoration: none;
                background-color: @blue;
                color: white;
                .transition();
            }
            
            &.grey {
                color: @dark-grey;
                text-align: center;
                border: solid 1px @dark-grey;
            
                &:hover {
                    background-color: @dark-grey;
                    color: white;
                }
            }
        }
    }
    
    blockquote, .block-text {
        background: @lightest-grey;
        border-left: 10px solid @blue;
        margin: 40px 0;
        padding: 20px 30px 10px;
        font-weight: @extra-light;
        font-size: 25px;
        
        .stretch-parent {
            .stretch-child {
                h3 {
                    margin-top: 15px;
                    text-align: center;
                }

                span {
                    color: @blue;
                    font-weight: @bold;
                    letter-spacing: -0.75px;
                    text-align: center;
                    display: block;
                    margin-top: 5px;
                }
            }
        }
    }
    
    blockquote {
        quotes: "\201C""\201D""\2018""\2019";

        &:before {
            color: @light-grey;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        p {
            display: inline;
            font-size: 25px;
        }

        .source {
            display: block;
            margin: 20px 0 0 0;
            color: @medium-grey;
            line-height: 1.4;
            letter-spacing: -0.75px;
            font-size: 15px;
            font-weight: @light;
        }
    }
        
    .buttons {
        width: 100%;
        margin: 50px auto 0 auto;
        
        @media @900 {
            width: 720px;
        }
        
        a {
            width: 100%;
            margin: 20px 0 0 0;
            
            @media @500 {
                width: 210px;
                margin: 0 auto;
            }
            
            @media @600 {
                width: 260px;
            }
            
            @media @700 {
                width: 300px;
            }
            
            @media @800 {
                width: 350px;
            }
            
            &.grey {
                color: @grey;
                border-color: @grey;

                &:hover {
                    background-color: @grey;
                    color: white;
                }
            }
        }
    }
    
    strong {
        font-weight: @bold;
    }
    
    .breadcrumb {
        font-size: 13px;
        margin-bottom: 20px;
    }
    
    .align-right {
        text-align: right;
    }
    
    .float-right {
        float: right;
    }
    
    .blue {
        background-color: @blue;
    }
    
    /*** Table Styles **/
    table {
        font-size: 14px;
        color: @grey;
        
        th, td {
            padding: 10px;
        }
        
        th {
            font-weight: @bold;
        }
        
        td {
            border-top: 1px solid @blue;
            border-bottom: 1px solid @blue;
        }
    }
    
    /*** LAYOUT CLASSES ***/
    .two-col {
        text-align: left;
        width: 100%;
        
        @media @700 {
            width: 48%;
        }
    }
    
    .three-col {
        text-align: left;
        width: 100%;
        
        @media @700 {
            width: 31%;
        }
    }
    
    .center {
        width: 100%;
        text-align: center;
        margin-top: 50px;

        div {
            display: inline-block;
            
            img {
                margin-right: 15px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    
    /* horizontally align objects */
    .stretch-parent {
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
        
        .stretch-child {
            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1;

            p, h2, h3 {
                text-align: left;
            }
        }

        &:after {
            content: '';
            width: 100%;
            display: inline-block;
            font-size: 0;
            line-height: 0;
        }
    }
   
    /* vertically align objects */ 
    .vertical-stretch-parent {
        width: 100%;
        //white-space: nowrap;
        text-align: center;
        overflow: hidden;
    }

    .clearfloat {
        clear: both;
        height: 0;
        font-size: 1px;
        line-height: 0;
    }
    
    /* Sections */
    .row {
        clear: both;
        padding: 40px 0;
        margin: 0;
        
        &.one {
            background-color: @very-very-light-grey;
        }
        
        &.two {
            background-color: @very-light-grey;
        }
    }
    /* Sections End */

    
    /*** MASTER LAYOUT ***/
    
    #browser-upgrade {
        background-image: url('../images/transparent-background.png');
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10000;
        
        div {
            position: fixed;
            width: 500px;
            height: 200px;
            padding: 20px;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -250px;
            background-color: @very-light-grey;
            box-sizing: border-box;
            .shadow();
            .rounded-corners();
            
            p {
                margin: 0;
            }
            
            .button {
                width: 46%;
                
                &.download {
                    border-color: @grey;
                    color: @grey;
                    float: left;
                }
                
                &.close-div {
                    float: right;
                }
            }
        }
    }
    
    header, footer {
        float: left;
        min-width: 100%;
    }
    
    header {
        background-color: @very-dark-grey;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        
        /* For reducing menu bar */
        &.smaller {
            .shadow(0px, 1px);
            
            .content {
                #logo {
                    width: 90%;
                    max-width: 300px;
                    margin: 14px auto;
                    
                    @media @900 {
                        margin: 0;
                        padding: 0 25px 0 0;
                    }
                }

                nav {
                    &.nav-collapse {
                        ul {
                            padding: 14px 0;
                            
                            @media @900 {
                                padding: 0;
                            }
                            
                            li {
                                a {
                                    font-size: 12px;
                            
                                    @media @900 {
                                        line-height: 18px;
                                        font-size: 16px;
                                        margin: 0 0 0 25px;
                                    }
                                    
                                    @media @1000 {
                                        padding-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                
                @media @900 {
                    .vertical-stretch-parent {
                        margin: 20px 0;
                    }
                }
            }
        }
        
        .content {
            padding: 0;
            
            @media @900 {
                padding: 0 20px;
            
                .vertical-stretch-parent {
                    height: auto;      /* equals max image height */
                    margin: 40px 0;
                    .transition(margin, 0.3s);
                }
            }
            
            #logo {
                padding: 0 10px;
                width: 250px;
                display: block;
                box-sizing: border-box;
                margin: 30px auto;
                height: auto;
                .transition(all, 0.3s);

                @media @400 {
                    width: 300px;
                }

                @media @900 {
                    float: left;
                    padding: 0;
                    width: 300px;
                    box-sizing: content-box;
                    margin: 0;
                    padding: 0 35px 0 0;
                    border-right: 1px solid @grey;
                }
                
                @media @1200 {
                    width: auto;
                    padding: 0 45px 0 0;
                }

                img {
                    border: 0;
                    max-width: 100%;
                    .transition(all, 0.3s);
                }
            }

            /* Site Navigation */
            nav {
                &.nav-collapse {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    padding: 0;
                    text-transform: uppercase;
                    background-color: @dark-grey;
                    float: left;

                    @media @900 {
                        width: auto;
                        background-color: @very-dark-grey;
                    }

                    ul {
                        width: 100%;
                        height: 100%;
                        list-style: none;
                        margin: 0;
                        padding: 20px 0;
                        overflow: auto;
                        display: flex;
                        justify-content: space-around;

                        @media @900 {
                            width: auto;
                            padding: 0;
                            overflow: visible;
                            justify-content: inherit;
                        }

                        li {
                            height: 100%;
                            padding: 0;
                            display: inline-block;

                            a {
                                display: block;
                                padding: 0;
                                margin: 0;
                                color: white;
                                font-size: 11px;
                                font-weight: @light;
                                height: 100%;
                                border-bottom: 2px solid @dark-grey;
                                .transition(all, 0.3s);

                                @media @500 {
                                    font-size: 14px;
                                }
                                
                                @media @900 {
                                    display: block;
                                    margin: 0 0 0 35px;
                                    font-size: 16px;
                                    line-height: 20px;  /* equals same height as container */
                                    letter-spacing: -0.75px;
                                    border-bottom: 2px solid @very-dark-grey;
                                }

                                @media @1200 {
                                    margin: 0 0 0 45px;
                                    padding-bottom: 3px;
                                    font-size: 18px;
                                    line-height: 24px;  /* equals same height as container */
                                }

                                &:link {
                                    text-decoration: none;
                                    color: white;
                                }

                                &:hover, :active {
                                    border-bottom: 2px solid white;
                                    .transition(color);
                                }
                            }

                            ul {
                                background: @very-dark-grey;
                                display: none;
                                height: auto;
                                margin: 0;
                                padding: 0;
                                border: none;
                                position: absolute;
                                width: 160px;
                                z-index: 200;
                                border-top: 2px solid @blue;
                                -webkit-box-shadow: 0 0 3px 0 @grey;
                                -moz-box-shadow: 0 0 3px 0 @grey;
                                box-shadow: 0 0 3px 0 @grey;

                                li {
                                    display: block;
                                    float: none;
                                    margin: 0;
                                    padding: 0;

                                    a {
                                        display: block;
                                        font-size: 13px;
                                        text-transform: none;
                                        font-weight: @light;
                                        font-style: normal;
                                        border-right: 0;
                                        border-bottom: @grey solid 1px;
                                        margin: 0;
                                        padding: 12px 20px;

                                        &:hover, &:hover a {
                                            background: @blue;
                                            color: white;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }

                            &:hover ul {
                                display: block;
                            }

                            &:hover li a {
                                background: none;
                                color: @very-dark-grey;
                            }
                        }
                    }
                }
            }

            .js .nav-collapse {
                clip: rect(0 0 0 0);
                max-height: 0;
                position: absolute;
                display: block;
                zoom: 1;

                .opened {
                    max-height: 9999px;
                }
            }

            .disable-pointer-events {
                pointer-events: none !important;
            }

            .nav-toggle {
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            /* Site Navigation End */
        }
    }
    
    footer {
        #links {
            background: @light-grey;
            padding: 40px 0;
            overflow: auto;
            text-align: center;
            
            ul {
                margin-bottom: 30px;

                @media @500 {
                    float: left;
                    margin-bottom: 0;
                }

                li {
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: -0.5px;
                    margin-bottom: 15px;

                    @media @500 {
                        font-size: 14px;
                        display: inline-block;
                        margin: 0 20px 0 0;
                        line-height: 35px;
                    }

                    @media @800 {
                        font-size: 16px;
                        margin: 10px 20px 10px 0;
                        padding-right: 20px;
                        border-right: 1px solid @medium-grey;
                        line-height: 30px;
                    }

                    &:last-child {
                        @media @500 {
                            margin-right: 0;
                            padding-right: 0;
                            border-right: none;
                        }
                    }

                    a {
                        &:link, &:visited {
                            color: @dark-grey;
                            text-decoration: none;
                            border-bottom: 1px solid @blue;
                        }

                        &:hover {
                            color: @blue;
                            .transition();
                        }
                    }
                }
            }

            #social-media {
                margin: 0 auto;
                width: 35px; // needs to be 90px if there are 2 icons to display
                    
                @media @800 {
                    width: 120px;
                }

                .fb, .tw {
                    height: 35px;
                    width: 35px;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: 35px 70px;
                    background-position: 0 0;
                    
                    &:hover {
                        background-position: 0 -35px;
                    
                        @media @800 {
                            background-position: 0 -50px;
                        }
                    }
                    
                    @media @800 {
                        background-size: 50px 100px;
                        height: 50px;
                        width: 50px;
                    }
                }

                .fb {
                    background-image: url(../images/social-fb.png);
                    float: left;
                }

                .tw {
                    background-image: url(../images/social-tw.png);
                    float: right;
                }

                @media @500 {
                    float: right;
                }
            }
        }
        
        #key-messages {
            padding: 40px 0 20px;
            
            p {
                font-size: 20px;
                font-weight: @extra-light;
                color: @grey;
                text-align: center;
                margin: 0 0 10px;
                
                @media @400 {
                    font-size: 22px;
                }
                
                @media @600 {
                    font-size: 25px;
                }
            }
        }
        
        #partner-sites {
            padding: 20px 0;
            margin: 0 auto;
                
            @media @500 {
                width: 400px;
                position: relative;
            }
                
            @media @800 {
                min-width: 791px;
            }
            
            a {
                height: 100%;
                
                @media @500 {
                    height: 90px;
                    width: 32%;
                    /* to get contained image vertically centered */
                    display: inline-block;
                    position: relative;
                }
                
                @media @800 {
                    height: 110px;
                }
            }
            
            img {
                width: 70%;
                margin: 30px auto;
                display: block;
                
                @media @300 {
                    width: 40%;
                }
                
                @media @500 {
                    float: left;
                    /* to get image vertically centered in container */
                    position: absolute;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto !important;
                    max-height: 100%;
                    max-width: 100%;
                }
                
                @media @800 {
                    width: auto;
                    margin: 30px 20px;
                }
            }
        }
        
        #copyright {
            font-size: 14px;
            text-align: center;
            margin: 10px 0;
            color: @grey;
            letter-spacing: -0.5px;
            clear: both;
        }
    }
        
    .content {
        max-width: 1260px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    #header-spacing {
        height: 132px;
        background-color: @very-dark-grey;
        
        @media @800 {
            height: 102px;
        }
        
        @media @1000 {
            height: 102px;
        }
    }
    
    #main-content {
        background-color: @very-light-grey;
        overflow: auto;
        
        .parallax-image {
            background-repeat: no-repeat;
            background-size: auto 300px;
            background-position: -40px 0;
            width: 100%;
            overflow: hidden;
            height: 300px;
            box-sizing: border-box;

            @media @500 {
                height: 400px;
                /* creates the parallax effect */
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
            }

            @media @600 {
                height: 500px;
            }

            @media @800 {
                height: 600px;
            }

            @media @1000 {
                height: 650px;
            }

            @media @1400 {
                background-size: 100% auto;
            }
        }
    }
}
