/* 
    Created on : 09-Feb-2017, 15:48:52
    Author     : Luke Prendergast
*/

/*
Colours
----------
*/

@blue:                 #619bb9;
@very-dark-grey:       #3b3b3b;
@dark-grey:            #454545;
@grey:                 #666;
@medium-grey:          #999;
@light-grey:           #CCC;
@very-light-grey:      #E6E6E6;
@very-very-light-grey: #f2f2f2;
@lightest-grey:        #f9f9f9;

@dark-red:             #C52727;
@light-red:            #f3d4d4;
@dark-green:           #218d44;
@light-green:          #c6d6cb;

/*
Font Weights
----------
*/

@extra-light: 300;
@light:       400;
@regular:     600;
@bold:        700;
@extra-bold:  800;

/*
Effects
----------
*/

.transition(@property: all, @duration: 0.5s, @timing: linear, @delay: 0s) {
    -webkit-transition: @property @duration @timing @delay;
    -moz-transition:    @property @duration @timing @delay;
    -ms-transition:     @property @duration @timing @delay;
    -o-transition:      @property @duration @timing @delay;
    transition:         @property @duration @timing @delay;
}

.rounded-corners(@radius: 4px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    -ms-border-radius:     @radius;
    -o-border-radius:      @radius;
    border-radius:         @radius;
}

.shadow(@horizontal: 0px, @vertical: 0px, @blur: 4px, @spread: 0px, @color: @dark-grey) {
    -webkit-box-shadow: @horizontal @vertical @blur @spread @color;
    -moz-box-shadow:    @horizontal @vertical @blur @spread @color;
    -ms-box-shadow:     @horizontal @vertical @blur @spread @color;
    -o-box-shadow:      @horizontal @vertical @blur @spread @color;
    box-shadow:         @horizontal @vertical @blur @spread @color;
}

/*
Media Queries
----------
*/

@300:  ~"only screen and (min-width: 300px)";
@400:  ~"only screen and (min-width: 400px)";
@500:  ~"only screen and (min-width: 500px)";
@600:  ~"only screen and (min-width: 600px)";
@700:  ~"only screen and (min-width: 700px)";
@800:  ~"only screen and (min-width: 800px)";
@900:  ~"only screen and (min-width: 900px)";
@1000: ~"only screen and (min-width: 1000px)";
@1100: ~"only screen and (min-width: 1100px)";
@1200: ~"only screen and (min-width: 1200px)";
@1300: ~"only screen and (min-width: 1300px)";
@1400: ~"only screen and (min-width: 1400px)";
