/* 
    Created on : 09-Feb-2017, 15:49:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        

body {
    .news {
        overflow: auto;
    }
    
    .news-date {
        color: @blue;
        font-size: 16px;
        letter-spacing: -0.75px;
        margin-bottom: 40px;
        display: block;
    }
}